body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color:white; 
}

h1 {
  font-weight: bold;
  color:red;
  text-align: center;
}

.nav-wrapper {
  background-color: red;
}
.nav-wrapper a { color: white; }